<!--loop through each event into a list with event name des... this handlebars is for new events. -->
  <div id="events">
    <h1>Upcoming Events</h1>
      <ul>
        {{#each events}}
          <li>
        <div class="form-group">
        <label for="name-signup">Event name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
              <div class="form-group">
        <label for="event-des">description:</label>
        <input class="form-input" type="text" id="event-des" />
      </div>
            <p>Start Date: {{date_start}}</p>
            <p>End Date: {{date_end}}</p>
            
        </li>
      {{/each}}
      </ul>
  </div>
   
