<div id="signUpLoginPage">
  <div class="loginFormContainer">
    <h2>Login</h2>

    <form id="loginForm" class="form login-form">
      <div class="form-group-login">
        <label for="email-login">Email:</label><br>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group-login">
        <label for="password-login">Password:</label><br>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group-login">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="signUpFormContainer">
    <h2>Signup</h2>
    <form id="signUpForm" class="form signup-form">
      <div class="form-group">
        <label for="email-signup">Email:</label><br>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label><br>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="first-name-signup">First Name:</label><br>
        <input class="form-input" type="text" id="first-name-signup" />
      </div>
      <div class="form-group">
        <label for="last-name-signup">Last Name:</label><br>
        <input class="form-input" type="text" id="last-name-signup" />
      </div>
      <div class="form-group">
        <label for="phone-number-signup">Phone Number:</label><br>
        <input class="form-input" type="text" id="phone-number-signup" />
      </div>
      <div class="form-group">
        <label for="location-signup">ZIP Code:</label><br>
        <input class="form-input" type="text" id="location-signup" />
      </div>
      <div class="form-group" id="about-me-signup-container">
        <label for="about-me-signup">About Me:</label><br>
        <input class="form-input" type="text" id="about-me-signup" />
      </div>
      <div class="form-group">
        <label for="birthday-signup">Birthday:</label><br>
        <input class="form-input" type="text" id="birthday-signup" />
      </div>
      <div class="form-group">
        <label for="image-input-signup">Profile Picture:</label><br>
        <input id="image-input-signup" type="file" accept="image/jpeg, image/png, image/jpg">
        <output></output>
      </div>
      <div class="form-group">
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>