<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Member:</h3>

    <form class="form new-member-form">
      <div class="form-group">
        <label for="member-first-name">First Name:</label>
        <input class="form-input" type="text" id="member-first-name" name="member-first-name" />
      </div>
      <div class="form-group">
        <label for="member-last-name">Last Name:</label>
        <input class="form-input" type="text" id="member-last-name" name="member-last-name" />
      </div>
    
      <div class="form-group">
        <label for="member-email">Email:</label>
        <input class="form-input" type="email" id="member-email" name="member-email" />
      </div>
      <div class="form-group">
        <label for="member-password">Password:</label>
        <input class="form-input" type="password" id="member-password" name="member-password" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if members.length}}
  <div class="col-md-6 member-list">
    <h3>Current Members:</h3>

    {{#each members as |member|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{member.first_name}} {{member.last_name}}</h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{member.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../models/members.js"></script>
