
<div id="aboutSection">
                <h2>
                    Community Builders Incorporated
                </h2>
                <p id="aboutDescription">
                    Mobilizing individuals to make a meaningful impact through community engagement, empowering them to create positive change and improve lives.
                </p>
            </div>
        </main>
        <div id="ourStory">
            <div id="about">
                <div class="thirdScreen sectionTitle">
                    <h1>About Us</h1>
                </div>
                <div class="twoThirdScreen">
                    <p>
                        Introducing a game-changing startup in the realm of volunteerism. Our mission-driven company, led by a passionate team of professionals, leverages technology and collaboration to connect skilled volunteers with organizations in need. With a seamless platform, we empower individuals to make a meaningful impact, fostering a more compassionate and inclusive society. Join us in revolutionizing community engagement and maximizing social value.
                    </p>
                    <h3 id="joinNowAbout">
                        <a href="/login">Join Now</a>
                    </h3>
                </div>
            </div>
            <div id="hoursLocation">
                <div class="thirdScreen sectionTitle">
                    <h1>Hours and<br>Locations</h1>
                </div>
                <div class="twoThirdScreen">
                    <div class="hoursLocation">
                        <p>
                            Address
                        </p>
                        <h2>
                            123 Volunteer Avenue,<br> Unityville, IL, 98765
                        </h2>
                    </div>
                    <div class="hoursLocation">
                        <p>
                            Office Hours
                        </p>
                        <h2>
                            Monday - Friday<br>
                            9am - 4pm
                        </h2>
                    </div>
                    <div class="hoursLocation">
                        <p>
                            Contact
                        </p>
                        <h2>
                            (555) 555 - 5555<br>
                            contact@email.com
                        </h2>
                    </div>
                </div>
            </div>
        </div>